# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv*/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Model and data files
*.rar
*.bin
*.csv
*.png
*.ply

# Model directories
model_trained/
model/

# Data directories
data/

# Figures
dist/
figure/

# Logs
*.log

# Ignore test cache
.pytest_cache/

# Ignore old files
*_old.*
