# Core scientific libs
numpy
filelock==3.18.0
fsspec==2025.7.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mpmath==1.3.0
networkx
setuptools==80.9.0
sympy==1.14.0
tqdm==4.67.1
typing_extensions==4.12.2
pandas==1.5.3
scikit-learn==1.4.0
pyyaml

# Point cloud & geometry tools
pyntcloud
plyfile
trimesh
open3d

# PyTorch (must be 2.1.0 + cu121 to match PyTorch3D wheel)
torch==2.1.0+cu121 
torchvision==0.16.0+cu121 
torchaudio==2.1.0+cu121
--extra-index-url https://download.pytorch.org/whl/cu121

# Compression
torchac==0.9.3 

# PyTorch3D (prebuilt wheel for py310/cu121/pyt210)
pytorch3d==0.7.5 
-f https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py310_cu121_pyt210/download.html
